*.o
*.a
*.obj
*.dll
*.so
*.so.0
*.so.0.0
*.so.0.0.1
Makefile
example/Makefile
example/example
moc_*.cpp
ui_*.h
Makefile
Makefile.Shared
Makefile.Static
.history
qrc_*.cpp
qtclient/qtclient
skeleton/skeleton
tests/functions/testDataTree
tests/skeleton/skeleton
