*.o
*.a
*.obj
*.dll
*.so
*.so.0
*.so.0.0
*.so.0.0.1
Makefile
example/Makefile
example/example
moc_*.cpp
ui_*.h
*.qm
Makefile
Makefile.Shared
Makefile.Static
.history
qrc_*.cpp
qtclient/qtclient
skeleton/skeleton
tests/functions/testDataTree
tests/skeleton/skeletonTest
tests/WImageListWidget/WImageListWidget
tests/SSLavailable/SSLavailable
*.pro.user*
*.pro.user
*.msi
*.wixobj
*.wixpdb
*.pdb
Makefile.*
*.rc
debug/
release/
