*.o
*.lo
*.a
*.la
.libs
*.obj
*.dll
*.so
*.so.0
*.so.0.0
*.so.0.0.1
Makefile
example/Makefile
example/example
moc_*.cpp
ui_*.h
*.qm
Makefile
Makefile.Shared
Makefile.Static
.history
qrc_*.cpp
wolfclient/wolfclient
skeleton/skeleton
tests/datatree/testDataTree
tests/datastructmap/testDataStructMap
tests/skeleton/skeletonTest
tests/SSLavailable/SSLavailable
tests/xml/testXmlSerialization
*.pro.user*
*.pro.user
*.msi
*.wixobj
*.wixpdb
*.pdb
Makefile.*
*.rc
debug/
release/
*~
