<?xml version="1.0" encoding="utf-8"?>

<!--

Copyright (C) 2011 - 2014 Project Wolframe.
All rights reserved.

This file is part of Project Wolframe.

Commercial Usage
   Licensees holding valid Project Wolframe Commercial licenses may
   use this file in accordance with the Project Wolframe
   Commercial License Agreement provided with the Software or,
   alternatively, in accordance with the terms contained
   in a written agreement between the licensee and Project Wolframe.

GNU General Public License Usage
   Alternatively, you can redistribute this file and/or modify it
   under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Wolframe is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Wolframe.  If not, see <http://www.gnu.org/licenses/>.

If you have questions regarding the use of this file, please contact
Project Wolframe.

-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:firewall="http://schemas.microsoft.com/wix/FirewallExtension"
	 xmlns:contrib="http://wixtoolset.org/wixcontrib/2008">

	<?define ProductVersion = "0.0.3" ?>
	<?define ProductCode = "{f0620f88-b93f-4699-a55b-44bf2b30cfca}" ?>
	<?define ProductUpgradeCode = "{7d357caf-4e95-4913-aaa4-e8102a085919}" ?>
	
	<?if $(sys.BUILDARCH) = "x64" ?>
		<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
		<?ifdef var.debug?>
			<?define ProductName = "wolfclient (64-bit, debug version)" ?>
		<?else?>
			<?define ProductName = "wolfclient (64-bit)" ?>
		<?endif?>
	<?elseif $(sys.BUILDARCH) = "x86" ?>
		<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
		<?ifdef var.debug?>
			<?define ProductName = "wolfclient (32-bit, debug version)" ?>
		<?else?>
			<?define ProductName = "wolfclient (32-bit)" ?>
		<?endif?>
	<?endif?>
	
	<Product Name="$(var.ProductName)" Version="$(var.ProductVersion)" Manufacturer="Wolframe Team"
	         Language="1033" Codepage="1252"
	         Id="$(var.ProductCode)" 
	         UpgradeCode="$(var.ProductUpgradeCode)" >
		 
		<Package Description="Wolframe wolfclient Windows Installer Package"
		         Comments="The Wolframe client"
		         Manufacturer="Wolframe Team" InstallerVersion="300" Compressed="yes"/>

		<Media Id="1" Cabinet="wolfclient.cab" EmbedCab="yes"/>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
				<Directory Id="WolframeGroup" Name="Wolframe Group">
					<Directory Id="INSTALLDIR" Name="Wolframe Qt Client">
						<Directory Id="BinDir" Name="bin">
							<Component Id="WolframeWolfclient" Guid="{8a59aae0-ee9f-4a97-a9d7-b01d809fb185}">
								<File Id="wolfclient.exe" Name="wolfclient.exe" DiskId="1" Source="$(var.topdir)\wolfclient\$(var.builddir)\wolfclient.exe"/>
							</Component>
							<Component Id="WolframeQtDlls" Guid="{c1c6449f-b745-4885-903a-cb28638289ab}">
								<File Id="skeleton0.dll" Name="skeleton0.dll" DiskId="1" Source="$(var.topdir)\skeleton\$(var.builddir)\skeleton0.dll"/>
								<File Id="qtwolfclient0.dll" Name="qtwolfclient0.dll" DiskId="1" Source="$(var.topdir)\libqtwolfclient\$(var.builddir)\qtwolfclient0.dll"/>
							</Component>
							
							<?ifdef var.with_ssl?>				
							<Component Id="OpenSSL" Guid="{b8aed823-0cad-4713-ae33-29fb3d53a8e6}">
								<File Id="ssleay32.dll" Name="ssleay32.dll" DiskId="1" Source="$(var.openssl_dir)\bin\ssleay32.dll"/> 
								<File Id="libeay32.dll" Name="libeay32.dll" DiskId="1" Source="$(var.openssl_dir)\bin\libeay32.dll"/> 
							</Component>
							<?endif?>

							<Component Id="WolframeQtPlugins" Guid="{c56a06a0-4437-4a27-b347-63e61c38c26c}">
								<?ifdef var.debug?>
									<File Id="filechooser.dll" Name="filechooser.dll" DiskId="1" Source="$(var.topdir)\plugins\filechooser\$(var.builddir)\filechooserd.dll"/>
									<File Id="picturechooser.dll" Name="picturechooser.dll" DiskId="1" Source="$(var.topdir)\plugins\picturechooser\$(var.builddir)\picturechooserd.dll"/>
									<File Id="filechooserd.dll" Name="filechooserd.dll" DiskId="1" Source="$(var.topdir)\plugins\filechooser\$(var.builddir)\filechooserd.dll"/>
									<File Id="picturechooserd.dll" Name="picturechooserd.dll" DiskId="1" Source="$(var.topdir)\plugins\picturechooser\$(var.builddir)\picturechooserd.dll"/>
								<?else?>
									<File Id="filechooser.dll" Name="filechooser.dll" DiskId="1" Source="$(var.topdir)\plugins\filechooser\$(var.builddir)\filechooser.dll"/>
									<File Id="picturechooser.dll" Name="picturechooser.dll" DiskId="1" Source="$(var.topdir)\plugins\picturechooser\$(var.builddir)\picturechooser.dll"/>
									<File Id="filechooserd.dll" Name="filechooserd.dll" DiskId="1" Source="$(var.topdir)\plugins\filechooser\$(var.builddir)\filechooser.dll"/>
									<File Id="picturechooserd.dll" Name="picturechooserd.dll" DiskId="1" Source="$(var.topdir)\plugins\picturechooser\$(var.builddir)\picturechooser.dll"/>
								<?endif?>
							</Component>
							
							<Component Id="QtDlls" Guid="{dd8be206-3e1d-4871-a1f7-8a5835026a7a}">
								<?if $(var.qt_version) = "4" ?>
									<?ifdef var.debug?>
										<File Id="QtCored4.dll" Name="QtCored4.dll" DiskId="1" Source="$(var.qt_dir)\bin\QtCored4.dll"/>
										<File Id="QtGuid4.dll" Name="QtGuid4.dll" DiskId="1" Source="$(var.qt_dir)\bin\QtGuid4.dll"/>
										<File Id="QtNetworkd4.dll" Name="QtNetworkd4.dll" DiskId="1" Source="$(var.qt_dir)\bin\QtNetworkd4.dll"/>
										<File Id="QtXmld4.dll" Name="QtXmld4.dll" DiskId="1" Source="$(var.qt_dir)\bin\QtXmld4.dll"/>
									<?else?>
										<File Id="QtCore4.dll" Name="QtCore4.dll" DiskId="1" Source="$(var.qt_dir)\bin\QtCore4.dll"/>
										<File Id="QtGui4.dll" Name="QtGui4.dll" DiskId="1" Source="$(var.qt_dir)\bin\QtGui4.dll"/>
										<File Id="QtNetwork4.dll" Name="QtNetwork4.dll" DiskId="1" Source="$(var.qt_dir)\bin\QtNetwork4.dll"/>
										<File Id="QtXml4.dll" Name="QtXml4.dll" DiskId="1" Source="$(var.qt_dir)\bin\QtXml4.dll"/>
									<?endif?>
								<?endif?>
								<?if $(var.qt_version) = "5" ?>
									<?ifdef var.debug?>
										<File Id="Qt5Cored.dll" Name="Qt5Cored.dll" DiskId="1" Source="$(var.qt_dir)\bin\Qt5Cored.dll"/>
										<File Id="Qt5Guid.dll" Name="Qt5Guid.dll" DiskId="1" Source="$(var.qt_dir)\bin\Qt5Guid.dll"/>
										<File Id="Qt5Networkd.dll" Name="Qt5Networkd.dll" DiskId="1" Source="$(var.qt_dir)\bin\Qt5Networkd.dll"/>
										<File Id="Qt5Xmld.dll" Name="Qt5Xmld.dll" DiskId="1" Source="$(var.qt_dir)\bin\Qt5Xmld.dll"/>
										<File Id="Qt5Widgetsd.dll" Name="Qt5Widgetsd.dll" DiskId="1" Source="$(var.qt_dir)\bin\Qt5Widgetsd.dll"/>
										<File Id="libGLESv2d.dll" Name="libGLESv2d.dll" DiskId="1" Source="$(var.qt_dir)\bin\libGLESv2d.dll"/>
										<File Id="libEGLd.dll" Name="libEGLd.dll" DiskId="1" Source="$(var.qt_dir)\bin\libEGLd.dll"/>
									<?else?>
										<File Id="Qt5Core.dll" Name="Qt5Core.dll" DiskId="1" Source="$(var.qt_dir)\bin\Qt5Core.dll"/>
										<File Id="Qt5Gui.dll" Name="Qt5Gui.dll" DiskId="1" Source="$(var.qt_dir)\bin\Qt5Gui.dll"/>
										<File Id="Qt5Network.dll" Name="Qt5Network.dll" DiskId="1" Source="$(var.qt_dir)\bin\Qt5Network.dll"/>
										<File Id="Qt5Xml.dll" Name="Qt5Xml.dll" DiskId="1" Source="$(var.qt_dir)\bin\Qt5Xml.dll"/>
										<File Id="Qt5Widgets.dll" Name="Qt5Widgets.dll" DiskId="1" Source="$(var.qt_dir)\bin\Qt5Widgets.dll"/>
										<File Id="libGLESv2.dll" Name="libGLESv2.dll" DiskId="1" Source="$(var.qt_dir)\bin\libGLESv2.dll"/>
										<File Id="libEGL.dll" Name="libEGL.dll" DiskId="1" Source="$(var.qt_dir)\bin\libEGL.dll"/>
									<?endif?>
									<File Id="icuin51.dll" Name="icuin51.dll" DiskId="1" Source="$(var.qt_dir)\bin\icuin51.dll"/>
									<File Id="icuuc51.dll" Name="icuuc51.dll" DiskId="1" Source="$(var.qt_dir)\bin\icuuc51.dll"/>
									<File Id="icudt51.dll" Name="icudt51.dll" DiskId="1" Source="$(var.qt_dir)\bin\icudt51.dll"/>
									<File Id="D3DCompiler_43.dll" Name="D3DCompiler_43.dll" DiskId="1" Source="$(var.qt_dir)\bin\D3DCompiler_43.dll"/>
								<?endif?>
							</Component>
							
							<?if $(var.qt_version) = "5" ?>
								<Directory Id="PlutformsDir" Name="platforms">
									<Component Id="QtPlatformPlugins" Guid="{922bc2e4-48a4-435e-a3f9-3294e23eaf70}">
										<?ifdef var.debug?>
											<File Id="qwindowsd.dll" Name="qwindowsd.dll" DiskId="1" Source="$(var.qt_dir)\plugins\platforms\qwindowsd.dll"/>
										<?else?>
											<File Id="qwindows.dll" Name="qwindows.dll" DiskId="1" Source="$(var.qt_dir)\plugins\platforms\qwindows.dll"/>
										<?endif?>
									</Component>
								</Directory>
							<?endif?>

							<Directory Id="ImageformatsDir" Name="imageformats">
								<Component Id="QtImagePlugins" Guid="{a2ec821e-0456-4c1c-aab1-189371497785}">
									<?if $(var.qt_version) = "4" ?>
										<?ifdef var.debug?>
											<File Id="qgifd4.dll" Name="qgifd4.dll" DiskId="1" Source="$(var.qt_dir)\plugins\imageformats\qgifd4.dll"/>
											<File Id="qjpegd4.dll" Name="qjpegd4.dll" DiskId="1" Source="$(var.qt_dir)\plugins\imageformats\qjpegd4.dll"/>
										<?else?>
											<File Id="qgif4.dll" Name="qgif4.dll" DiskId="1" Source="$(var.qt_dir)\plugins\imageformats\qgif4.dll"/>
											<File Id="qjpeg4.dll" Name="qjpeg4.dll" DiskId="1" Source="$(var.qt_dir)\plugins\imageformats\qjpeg4.dll"/>
										<?endif?>
									<?endif?>
									<?if $(var.qt_version) = "5" ?>
										<?ifdef var.debug?>
											<File Id="qgifd.dll" Name="qgifd.dll" DiskId="1" Source="$(var.qt_dir)\plugins\imageformats\qgifd.dll"/>
											<File Id="qjpegd.dll" Name="qjpegd.dll" DiskId="1" Source="$(var.qt_dir)\plugins\imageformats\qjpegd.dll"/>
										<?else?>
											<File Id="qgif.dll" Name="qgif.dll" DiskId="1" Source="$(var.qt_dir)\plugins\imageformats\qgif.dll"/>
											<File Id="qjpeg.dll" Name="qjpeg.dll" DiskId="1" Source="$(var.qt_dir)\plugins\imageformats\qjpeg.dll"/>
										<?endif?>
									<?endif?>
								</Component>
							</Directory>

							<Component Id="MsvcRuntime" Guid="{ece7de30-bab3-40a2-988b-a56e4bc633ac}">
								<File Id="msvcp100d.dll" Name="msvcp100d.dll" DiskId="1" Source="C:\windows\system32\msvcp100d.dll"/>
								<File Id="msvcr100d.dll" Name="msvcr100d.dll" DiskId="1" Source="C:\windows\system32\msvcr100d.dll"/>
							</Component>
							
						</Directory>						
					</Directory>
				</Directory>
			</Directory>
			
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Wolframe"/>
			</Directory>
	
		</Directory>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="{3e94c820-f998-4d46-b19f-74657a353295}">
				<Shortcut Id="wolfclient"
				          Name="Wolframe client"
				          Description="Start Wolframe client"
				          Target="[INSTALLDIR]\bin\wolfclient.exe"
				          WorkingDirectory="BinDir"/>

				<Shortcut Id="UninstallProduct"
				          Name="Uninstall Wolframe client"
				          Description="Uninstalls Wolframe client"
				          Target="[System64Folder]msiexec.exe"
				          Arguments="/x $(var.ProductCode)"/>

				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="SOFTWARE\WolframeGroup\Wolframe Client"
				               Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<Feature Id="Complete" Title="Wolframe" Description="$(var.ProductName)"
		         Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
			<Feature Id="wolfclient" Title="Wolframe Client" Description="The front to access the Wolframe server." Level="1">
				<ComponentRef Id="ApplicationShortcut"/>
				<ComponentRef Id="WolframeWolfclient"/>
				<ComponentRef Id="WolframeQtDlls"/>
				<ComponentRef Id="WolframeQtPlugins"/>
				<ComponentRef Id="QtDlls"/>
				<ComponentRef Id="QtImagePlugins"/>
				<?if $(var.qt_version) = "5" ?>
					<ComponentRef Id="QtPlatformPlugins"/>
				<?endif?>
				<ComponentRef Id="MsvcRuntime"/>
				<?ifdef var.with_ssl?>				
				<ComponentRef Id="OpenSSL"/>
				<?endif?>
			</Feature>
		</Feature>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>

		<WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>
		<WixVariable Id="WixUIDialogBmp" Value="bitmaps/Wolf.bmp"/>
		<Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Check out http://www.wolframe.net for additional information."/>

		<Property Id="APPHELPLINK">http://www.wolframe.net</Property>
		<Icon Id="Wolframe.ico" SourceFile="bitmaps/Wolframe.ico"/>
		<Property Id="ARPPRODUCTICON" Value="Wolframe.ico"/>

		<UIRef Id="WixUI_wolfclient"/>
		<UIRef Id="WixUI_ErrorProgressText"/>
	</Product>
</Wix>

